# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignorar archivos de entorno
.env

# Ignorar archivos generados o temporales
*.log
*.tmp

# Ignorar configuraciones locales de IDEs (ejemplo)
.vscode/
.idea/

# Ignorar caché de nvm (opcional)
.nvmrc